In [1]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
!tar xf spark-2.4.6-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-07-31 20:05:47--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  4.74MB/s    in 0.2s

2020-07-31 20:05:47 (4.74 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("AmazonReviewsAnalysis1").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
from pyspark import SparkFiles
# Load in user_data.csv from S3 into a DataFrame
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Video_Games_v1_00.tsv.gz"
spark.sparkContext.addFile(url)

video_games_df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Video_Games_v1_00.tsv.gz"), sep="\t", header=True)
video_games_df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   12039526| RTIS3L2M1F5SM|B001CXYMFS|     737716809|Thrustmaster T-Fl...|     Video Games|          5|            0|          0|   N|                Y|an amazing joysti...|Used this for Eli...| 2015-08-31|
|         US|    9636577| R1ZV7R40OLHKD|B00M920ND6|     569686175|Tonsee 6 buttons ...|     Video Games|          5|            0|          0|   N|                Y|Definitely a sile...|Loved it,  I didn...| 2015-08-31|
|         US|    2331478|R3BH071QLH8QMC|B0029CSOD2|      98937668|Hidden Mysteries:...|     Video Games|          1|            0|          1|   N|                Y|            One Star|poor quality work...| 2015-08-31|
|         US|   52495923|R127K9NTSXA2YH|B00GOOSV98|      23143350|GelTabz Performan...|     Video Games|          3|            0|          0|   N|                Y|good, but could b...|nice, but tend to...| 2015-08-31|
|         US|   14533949|R32ZWUXDJPW27Q|B00Y074JOM|     821342511|Zero Suit Samus a...|     Video Games|          4|            0|          0|   N|                Y|   Great but flawed.|Great amiibo, gre...| 2015-08-31|
|         US|    2377552|R3AQQ4YUKJWBA6|B002UBI6W6|     328764615|Psyclone Recharge...|     Video Games|          1|            0|          0|   N|                Y|            One Star|The remote consta...| 2015-08-31|
|         US|   17521011|R2F0POU5K6F73F|B008XHCLFO|      24234603|Protection for yo...|     Video Games|          5|            0|          0|   N|                Y|              A Must|I have a 2012-201...| 2015-08-31|
|         US|   19676307|R3VNR804HYSMR6|B00BRA9R6A|     682267517|   Nerf 3DS XL Armor|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Perfect, kids lov...| 2015-08-31|
|         US|     224068| R3GZTM72WA2QH|B009EPWJLA|     435241890|One Piece: Pirate...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|            Excelent| 2015-08-31|
|         US|   48467989| RNQOY62705W1K|B0000AV7GB|     256572651|Playstation 2 Dan...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|Slippery but expe...| 2015-08-31|
|         US|     106569|R1VTIA3JTYBY02|B00008KTNN|     384411423|Metal Arms: Glitc...|     Video Games|          5|            0|          0|   N|                N|          Five Stars|Love the game. Se...| 2015-08-31|
|         US|   48269642|R29DOU8791QZL8|B000A3IA0Y|     472622859|72 Pin Connector ...|     Video Games|          1|            0|          0|   N|                Y| Game will get stuck|Does not fit prop...| 2015-08-31|
|         US|   52738710|R15DUT1VIJ9RJZ|B0053BQN34|     577628462|uDraw Gametablet ...|     Video Games|          2|            0|          0|   N|                Y|We have tried it ...|This was way too ...| 2015-08-31|
|         US|   10556786|R3IMF2MQ3OU9ZM|B002I0HIMI|     988218515|NBA 2K12(Covers M...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|Works great good ...| 2015-08-31|
|         US|    2963837|R23H79DHOZTYAU|B0081EH12M|     770100932|New Trigger Grips...|     Video Games|          1|            1|          1|   N|                Y|Now i have to buy...|It did not fit th...| 2015-08-31|
|         US|   23092109| RIV24EQAIXA4O|B005FMLZQQ|      24647669|Xbox 360 Media Re...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|perfect lightweig...| 2015-08-31|
|         US|   23091728|R3UCNGYDVN24YB|B002BSA388|      33706205|Super Mario Galaxy 2|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|               great| 2015-08-31|
|         US|   10712640| RUL4H4XTTN2DY|B00BUSLSAC|     829667834|Nintendo 3DS XL -...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Works beautifully...| 2015-08-31|
|         US|   17455376|R20JF7Z4DHTNX5|B00KWF38AW|     110680188|Captain Toad:  Tr...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Kids loved the ga...| 2015-08-31|
|         US|   14754850|R2T1AJ5MFI2260|B00BRQJYA8|     616463426|Lego Batman 2: DC...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|           Goodngame| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [5]:
# number of records in data set
video_games_df.count()

1785997

In [6]:
# clean df
video_games_df = video_games_df.dropna()
video_games_df = video_games_df.dropDuplicates()

In [7]:
# transform df to match the review_id_table schema
review_id_df = video_games_df.select("review_id", "customer_id", "product_id", "product_parent", "review_date")
review_id_df.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R1004PYTPK6ELD|   38281029|B00004WHWF|      89143877| 2002-01-23|
|R100EZDMO39LBZ|    1386752|B00OZBFUBY|     872540442| 2015-06-10|
|R1011I65X7RSKT|   41907229|B00006ISBU|     654790631| 2003-12-23|
|R101V84BKDOR1I|   12034223|B001KX5042|     279727821| 2014-08-08|
|R101VJUP2TFB3Y|   31532612|B009DL2TBA|     586138868| 2015-01-05|
|R1026A0A5F4D42|   30645349|B00FEKQZE6|     681125586| 2014-04-21|
|R102X78AGOZJY3|   20191662|B000ZK9QCS|     699333646| 2010-03-26|
|R104THW8CUUZXC|   20910843|B00DHF39EO|     100570084| 2015-06-15|
|R105YSA8EGSJ8D|    2435449|B0053B5RGI|     413365293| 2015-02-26|
|R106QTPT8YYZ1P|    4159081|B000TGB4UA|      17513844| 2015-04-22|
|R106UDOJ2QSWOR|   11343413|B00KVP78FE|     177244653| 2014-11-14|
|R109G94NZM2I7R|   22043357|B004XACA60|     432872195| 2012-03-21|
|R10A0VLQRM6JIA|   35555943|B000059TC8|     790267453| 2002-11-21|
|R10ADC7LCXO3V2|     888889|B00NNU07RU|     255456687| 2015-01-19|
|R10BZXFK4OGIWR|   35143662|B0056BE0ZY|     539066453| 2012-01-16|
|R10CHUP1MARXDJ|   49055852|B00BMFIXZG|     175986677| 2014-01-24|
|R10CJEFAH22TBO|   49424482|B000MD3HQ4|     790701840| 2013-08-18|
|R10D0UXARMV36T|   43836461|B0016B28Y8|     230974794| 2008-09-06|
|R10DKHK39U0XAL|   15506517|B0053BQU4G|     593744126| 2011-11-26|
|R10EFCTVXFYWQV|   47470194|B00JUFSH9M|       4448267| 2014-08-28|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [8]:
review_id_df.dtypes

[('review_id', 'string'),
 ('customer_id', 'string'),
 ('product_id', 'string'),
 ('product_parent', 'string'),
 ('review_date', 'string')]

In [9]:
# change data types to match schema
from pyspark.sql.types import IntegerType
review_id_df = review_id_df.withColumn("customer_id", review_id_df["customer_id"].cast(IntegerType()))
review_id_df = review_id_df.withColumn("product_parent", review_id_df["product_parent"].cast(IntegerType()))
from pyspark.sql.types import DateType
review_id_df = review_id_df.withColumn("review_date", review_id_df['review_date'].cast(DateType()))
review_id_df.dtypes

[('review_id', 'string'),
 ('customer_id', 'int'),
 ('product_id', 'string'),
 ('product_parent', 'int'),
 ('review_date', 'date')]

In [10]:
# transform df to match the products schema
products_df = video_games_df.select("product_id", "product_title")
products_df.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00004WHWF|         Red Faction|
|B00OZBFUBY|USPRO&reg; PS3 Bl...|
|B00006ISBU|       NBA Live 2003|
|B001KX5042|Imagine:  Cheerle...|
|B009DL2TBA|PlayStation 3 500...|
|B00FEKQZE6|Skylanders SWAP F...|
|B000ZK9QCS|      God of War III|
|B00DHF39EO|The Elder Scrolls...|
|B0053B5RGI|           Pokemon X|
|B000TGB4UA|Tony Hawk's Provi...|
|B00KVP78FE|Sony PlayStation ...|
|B004XACA60|Battlefield 3 - L...|
|B000059TC8|PlayStation 2 DVD...|
|B00NNU07RU|    Xbox 360 Console|
|B0056BE0ZY|Jillian Michaels ...|
|B00BMFIXZG|  Assassin's Creed 4|
|B000MD3HQ4|Playstation 2 Mag...|
|B0016B28Y8|Call of Duty 4: M...|
|B0053BQU4G|             WWE '12|
|B00JUFSH9M|       Madden NFL 15|
+----------+--------------------+
only showing top 20 rows

In [11]:
products_df.dtypes

[('product_id', 'string'), ('product_title', 'string')]

In [12]:
# clean df
products_df = products_df.dropDuplicates()

In [13]:
# transform df to match the customers schema
customers_df = video_games_df.groupby("customer_id").count()
customers_df.show()

+-----------+-----+
|customer_id|count|
+-----------+-----+
|    5401088|    5|
|   37964777|   16|
|   20872523|    1|
|   44777937|    4|
|    2384511|    1|
|   41500251|    1|
|   34029693|    1|
|   40005173|    2|
|   12125016|    2|
|   21226328|    3|
|    6004768|    2|
|   14445274|    4|
|   41665035|    1|
|   16995171|    1|
|   25044130|    1|
|   11073960|    2|
|   38642776|    8|
|    6199838|    6|
|   19207466|    3|
|    1760318|    1|
+-----------+-----+
only showing top 20 rows

In [14]:
# rename column to match schema
customers_df = customers_df.withColumnRenamed("count", "customer_count")
customers_df.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|    5401088|             5|
|   37964777|            16|
|   20872523|             1|
|   44777937|             4|
|    2384511|             1|
|   41500251|             1|
|   34029693|             1|
|   40005173|             2|
|   12125016|             2|
|   21226328|             3|
|    6004768|             2|
|   14445274|             4|
|   41665035|             1|
|   16995171|             1|
|   25044130|             1|
|   11073960|             2|
|   38642776|             8|
|    6199838|             6|
|   19207466|             3|
|    1760318|             1|
+-----------+--------------+
only showing top 20 rows

In [15]:
customers_df.dtypes

[('customer_id', 'string'), ('customer_count', 'bigint')]

In [16]:
# change data types to match schema
customers_df = customers_df.withColumn("customer_id", customers_df["customer_id"].cast(IntegerType()))
customers_df = customers_df.withColumn("customer_count", customers_df["customer_count"].cast(IntegerType()))
customers_df.dtypes

[('customer_id', 'int'), ('customer_count', 'int')]

In [17]:
# transform df to match the vine_tables schema
vine_df = video_games_df.select("review_id", "star_rating", "helpful_votes", "total_votes", "vine")
vine_df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R1004PYTPK6ELD|          5|            0|          0|   N|
|R100EZDMO39LBZ|          4|            0|          0|   N|
|R1011I65X7RSKT|          5|            2|          2|   N|
|R101V84BKDOR1I|          5|            0|          0|   N|
|R101VJUP2TFB3Y|          5|            0|          0|   N|
|R1026A0A5F4D42|          5|            5|          6|   N|
|R102X78AGOZJY3|          5|            0|          0|   N|
|R104THW8CUUZXC|          1|            2|          6|   N|
|R105YSA8EGSJ8D|          4|            0|          0|   N|
|R106QTPT8YYZ1P|          5|            1|          1|   N|
|R106UDOJ2QSWOR|          5|            0|          0|   N|
|R109G94NZM2I7R|          5|            0|          1|   N|
|R10A0VLQRM6JIA|          3|            3|          3|   N|
|R10ADC7LCXO3V2|          1|            4|          7|   N|
|R10BZXFK4OGIWR|          2|            2|          3|   N|
|R10CHUP1MARXDJ|          4|            0|          0|   N|
|R10CJEFAH22TBO|          5|            0|          0|   N|
|R10D0UXARMV36T|          5|            0|          0|   N|
|R10DKHK39U0XAL|          5|            0|          2|   N|
|R10EFCTVXFYWQV|          4|            7|         11|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [18]:
vine_df.dtypes

[('review_id', 'string'),
 ('star_rating', 'string'),
 ('helpful_votes', 'string'),
 ('total_votes', 'string'),
 ('vine', 'string')]

In [19]:
# change data types to match schema
vine_df = vine_df.withColumn("star_rating", vine_df["star_rating"].cast(IntegerType()))
vine_df = vine_df.withColumn("helpful_votes", vine_df["helpful_votes"].cast(IntegerType()))
vine_df = vine_df.withColumn("total_votes", vine_df["total_votes"].cast(IntegerType()))
vine_df.dtypes

[('review_id', 'string'),
 ('star_rating', 'int'),
 ('helpful_votes', 'int'),
 ('total_votes', 'int'),
 ('vine', 'string')]

In [20]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://<RDS_endpoint>:5432/<database_name>"
config = {"user":"root", 
          "password": "<RDS_password>", 
          "driver":"org.postgresql.Driver"}

In [21]:
# Write DataFrame to review_id_table table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [22]:
# Write DataFrame to products table in RDS
products_df.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=config)

In [23]:
# Write DataFrame to customers table in RDS
customers_df.write.jdbc(url=jdbc_url, table='customers', mode=mode, properties=config)

In [24]:
# Write DataFrame to customers table in RDS
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)

In [33]:
# find averages for vine and non-vine reviews
filtered_vine_df = vine_df.filter(vine_df["helpful_votes"] > 2)
filtered_vine_df.groupby("vine").avg().show()

+----+------------------+------------------+------------------+
|vine|  avg(star_rating)|avg(helpful_votes)|  avg(total_votes)|
+----+------------------+------------------+------------------+
|   Y| 4.038516405135521|12.027104136947218|14.631954350927247|
|   N|3.4513199528218355|11.713786916412454| 17.13962665098516|
+----+------------------+------------------+------------------+

In [34]:
# find sums for vine and non-vine reviews
filtered_vine_df.groupby("vine").sum().show()

+----+----------------+------------------+----------------+
|vine|sum(star_rating)|sum(helpful_votes)|sum(total_votes)|
+----+----------------+------------------+----------------+
|   Y|            2831|              8431|           10257|
|   N|         1032949|           3505831|         5129736|
+----+----------------+------------------+----------------+

In [35]:
# organizes data into vine and non-vine, then breaks it down by how many of each star rating are present for each
from pyspark.sql.functions import desc
vine_grouped_df = filtered_vine_df.groupby(["vine", "star_rating"])\
                          .agg({"star_rating": "count"})\
                          .orderBy(*["vine","star_rating"], ascending=False)
vine_grouped_df.show()

+----+-----------+------------------+
|vine|star_rating|count(star_rating)|
+----+-----------+------------------+
|   Y|          5|               279|
|   Y|          4|               234|
|   Y|          3|               133|
|   Y|          2|                46|
|   Y|          1|                 9|
|   N|          5|            123496|
|   N|          4|             51035|
|   N|          3|             30298|
|   N|          2|             25973|
|   N|          1|             68489|
+----+-----------+------------------+

In [36]:
# takes only reviews that are vine and finds the percent of each rating
import pyspark.sql.functions as f
from pyspark.sql.window import Window

vine_only_df = vine_grouped_df.filter(vine_grouped_df["vine"] == "Y")
vine_only_df = vine_only_df\
  .withColumn('total', f.sum('count(star_rating)').over(Window.partitionBy()))\
  .withColumn('percent', f.col('count(star_rating)')/f.col('total'))
vine_only_df.show()

+----+-----------+------------------+-----+--------------------+
|vine|star_rating|count(star_rating)|total|             percent|
+----+-----------+------------------+-----+--------------------+
|   Y|          5|               279|  701|  0.3980028530670471|
|   Y|          4|               234|  701|  0.3338088445078459|
|   Y|          3|               133|  701| 0.18972895863052783|
|   Y|          2|                46|  701| 0.06562054208273894|
|   Y|          1|                 9|  701|0.012838801711840228|
+----+-----------+------------------+-----+--------------------+

In [37]:
# takes only reviews that aren't vine and finds the percent of each rating
notvine_only_df = vine_grouped_df.filter(vine_grouped_df["vine"] == "N")
notvine_only_df = notvine_only_df\
  .withColumn('total', f.sum('count(star_rating)').over(Window.partitionBy()))\
  .withColumn('percent', f.col('count(star_rating)')/f.col('total'))
notvine_only_df.show()

+----+-----------+------------------+------+-------------------+
|vine|star_rating|count(star_rating)| total|            percent|
+----+-----------+------------------+------+-------------------+
|   N|          5|            123496|299291|0.41262851205014517|
|   N|          4|             51035|299291| 0.1705196614665994|
|   N|          3|             30298|299291|0.10123257966327086|
|   N|          2|             25973|299291|0.08678176089491499|
|   N|          1|             68489|299291|0.22883748592506958|
+----+-----------+------------------+------+-------------------+